.sidebarChat{
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    align-items: center;

}

.light__theme__new{
    background-color: white;
}
.light__theme__new>.light__theme__info>p{ 
    color: gray;
}
/* .light__theme:hover{
    background-color: #ebebeb ;

} */

.sidebarChat__info{
    margin-left: 10px;
    flex:1;
    
}
.time{
    justify-content: center;
    display: flex;
    font-size: x-small;
    color:green;
    flex-direction: column;
    padding: 10px;
}
.number_of_messages{
    text-align: center;
    margin-top: 5px;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 50px;
}

.sidebarChat__info>h2{
    font-size: 16px;
    margin-bottom: 5px;
}
.sidebarChat__info>p{
    font-size: 13px;
    margin-bottom: 5px;
    color: lightblue;
}
.dark__theme__info>p{
 
    color: lightblue;
}

.dark__theme__info>h2{
color:lightgray
}
.dark__theme__new:hover{
    background-color:  lightslategray;
}